{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

    <div class="container  col-lg-4 justify-content-center pt-5 text-center">

        <h1 class="h3 mb-3 font-weight-normal">Сайт находится в процессе разроботки</h1>
<div class="form-group">
    <a href="{{ path('register') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Регистрация</a>
</div>
    <div class="form-group">
    <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Вход\Выход</a>
    </div>

</div>
{% endblock %}
